services:
  # app:
  #   build: .
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  #   depends_on:
  #     - database
  #   ports:
  #     - "${AMADEUS_AGENT_PORT:-8000}:${AMADEUS_AGENT_PORT:-8000}"

  database:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - database

volumes:
  db_data:
